*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: white;
  --accent: rgb(86, 90, 158);
  --background: rgb(120, 124, 180);
  --outline: 0px solid black;
  --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --text: black;
  --text-l: rgb(162, 162, 162);
  --img: url(./assets/bg_light.jpg);
}
.dark {
  --primary: rgb(40, 44, 54);
  --accent: rgb(110, 113, 176);
  --background: rgba(0, 0, 0, 0.7);
  --outline: 2px solid white;
  --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --text: white;
  --text-l: rgb(85, 85, 85);
  --img: url(./assets/bg_dark.jpg);
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: var(--background);
  background-image: var(--img);
  background-size: cover;
  background-blend-mode: color-burn;
  background-attachment: fixed;
}

#navbar {
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary);
  user-select: none;
  outline: var(--outline);
  color: var(--text);
  div {
    gap: 50px;
    align-items: center;
    display: flex;
    p {
      color: var(--text);
      font-size: 2em;
      font-weight: bold;
      font-style: italic;
      span {
        img {
          height: 30px;
          transform: skewX(-15deg);
        }
      }
    }
    a {
      text-decoration: none;
      color: var(--text);
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
    }
    a:hover {
      padding-bottom: 5px;
      border-bottom: 2px solid var(--accent);
    }
    #theme {
      border: none;
      background: transparent;
      cursor: pointer;
    }
  }
}

#table-wrapper {
  margin-top: 65px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#wallet-table {
  border: var(--outline);
  background: var(--primary);
  box-shadow: var(--shadow);
  border-collapse: collapse;
  thead td {
    color: var(--text-l);
    user-select: none;
  }
  td {
    color: var(--text);
    font-size: 1.2rem;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
  }
  a {
    color: var(--text);
    text-decoration: none;
    padding: 6px 15px;
    margin: 0 2px;
  }
  .short {
    display: none;
  }
  .add-f {
    outline: 2px solid rgb(86, 90, 158);
  }
  .add-f:hover {
    background: rgb(120, 124, 180);
  }
  .remove-f {
    outline: 2px solid orange;
  }
  .remove-f:hover {
    background: rgb(255, 194, 169);
  }
  .close-f {
    outline: 2px solid red;
  }
  .close-f:hover {
    background: lightcoral;
  }
}

@media (max-width: 1133px) {
  #navbar {
    font-size: 0.8rem;
    div a {
      font-size: 1rem;
    }
  }
  .short {
    display: inline !important;
  }
  .long {
    display: none;
  }
}

#call-to-action {
  font-size: 2rem;
  background: var(--primary);
  padding: 30px;
  box-shadow: var(--shadow);
  border-radius: 20px;
}

#form-window-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 65px;
  #form-window {
    color: var(--text);
    outline: var(--outline);
    box-shadow: var(--shadow);
    border-radius: 20px;
    background: var(--primary);
    padding: 50px;
    form {
      display: flex;
      flex-direction: column;
      p {
        text-align: center;
        user-select: none;
      }
      h1 {
        margin-bottom: 1rem;
      }
      label {
        font-size: 1.2em;
        padding: 5px;
        font-weight: bold;
        user-select: none;
      }
      input {
        font-size: 1.5em;
        font-weight: bold;
        padding: 10px 15px;
        border-radius: 10px;
        border: 2px solid black;
        margin-bottom: 20px;
      }
      button {
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 20px;
        padding: 20px;
        border: 3px solid black;
        cursor: pointer;
        border-radius: 20px;
      }
      button:hover {
        background: var(--accent);
        color: white;
      }
    }
  }
}

@keyframes popup {
  from {
    opacity: 0;
  }
  15% {
    opacity: 100%;
    top: 13.5%;
  }
  90% {
    opacity: 100%;
    top: 13.5%;
  }
  to {
    opacity: 0%;
    top: 13.5%;
  }
}

#popup {
  user-select: none;
  opacity: 0;
  position: absolute;
  top: 9%;
  left: 50%;
  transform: translate(-50%);
  width: max-content;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
}

.error {
  animation: popup 7s;
  width: 100px;
  background-color: rgb(255, 161, 161);
  color: red;
  border: 2px solid red;
}

.status {
  animation: popup 7s;
  width: 100px;
  background-color: rgb(57, 99, 57);
  color: rgb(0, 255, 0);
  border: 2px solid rgb(0, 255, 0);
}

.credentials {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  form {
    color: var(--text);
    input {
      width: 500px;
      margin-bottom: 10px !important;
    }
    button {
      margin-bottom: 20px;
    }
    label {
      span {
        color: var(--text-l);
      }
    }
  }
}
